body{
	color:#FFFFFF;
	background-color:#000000;
	font-weight:bold;
	background-image: url(files/raining_code.gif);
}

a{
	color: rgb(153, 255, 170);
}

.container{
	margin: 5% auto;
	width: 970px;
	padding: 10px;
	border: 1px white solid;
	border-radius: 10px;
	background-color:#111;
}

.title{
	margin: 0 auto;
	width: 600px;
}

.nav{
	margin: 20px auto;
	height: 20px;
	width: 970px;
	text-align: center;
	line-height: 40px;
}

.nav > a{
	display: inline-block;
	margin: 0px 8px;
	width: 115px;
	height: 40px;
	color: rgb(153, 255, 170);
	background-color: rgba(20, 200, 80, 0.50);
	border: 1px #6A9 solid;
	border-radius: 4px;
	text-decoration: none;
}

.nav > a.this-page {
	background-color: rgba(6, 63, 31, 0.5);
}

.nav > a:hover{
	background-color: rgba(0, 240, 80, 0.5);
	text-decoration: none;
}

.content{
	clear: both;
	margin: 50px 80px;
}

.left{
	float: left;
	width: 50%;
}
.right{
	width: 50%;
	float: left;
}

.box{
	width: 100%;
}

.lower{
	clear: both;
	margin-top: 20px;
}


.title p{

	margin: 0px auto;
	display: table;
	font-size: 51px;
	text-align: center
}

#title_text{
  text-shadow: 1px 1px #5d5;
	font-size: 48px;
	color: #289E3F;
	margin: 0px auto;
	display: table;
}

#fadein {
	opacity: 0;;
}

.load {
	opacity: 1;
}

.glyph{
	position: relative;
	top:5px;
	right:5px;
}


/*
 * Styles for homework.html
 */

.homework-heading{
	margin: 0px 0px 30px 0px;
}

.homework-list{
	display: block;
	max-width: 340px;
	margin: 0px auto;
}

.homework-dl > dd{
	margin-bottom: 25px;
}

/*
 * Styles for lectures.html
 */



.large-section:first-child{
	margin-left: 7.2%;
}

.list-group{
	width:22%;
	float: left;
	margin-right: 10px;
}
.list-group-item:first-child{
	background-color: rgba(160, 160, 160, 0.50);
	border: 1px #EEE solid;
	margin-bottom:5px;
	border-radius: 4px;
	font-weight:bold;
	font-size:large;
}

.first{
	margin-left: 6.5%;
}

.list-group-item{
	background-color: #222;
	border: 1px solid #333;
}

.modal-content{
	background-color: #222;
	margin-top:300px;
}
